:root{
    --lighter-green:#EAFAF1;
    --light-green:#D5F5E3;
    --green:#ABEBC6;
    --dark-green:#2ECC71;
    --light-gray:#BFC9CA;
    --light-purple:#C39BD3;
    --light-color:#000000;
    --dark-color:#0f1318;
    --text-color:#000000;
    --background-1:#ffffff;
    --background-2:#f1f1f1;
    --border-color:#cccccc;
    --accent-color:#2ECC71;
    --icon-brightness:0;
}

body{
    font-family:"Be Vietnam Pro", sans-serif;
    margin:0;
}

#wrapper{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:row;
}

#sidebar{
    width:5vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
}

.sidebar-img{
    margin:3vh 0;
    cursor:pointer;
    width:2vw;
    filter:invert(1) brightness(var(--icon-brightness));
}

.notification-div{
    position:relative;
}

#main-div{
    width:95vw;
    height:100vh;
    background:var(--background-2);
}

.notif-p{
    background:var(--accent-color);
    font-size:0.75vmax;
    width:1vmax;
    height:1vmax;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    text-align:center;
    border-radius:0.5vmax;
    margin:0;
    position:absolute;
    top:2vh;
    right:-0.25vw;
}

#cricket-img{
    position:absolute;
    top:1vw;
}

#logout-img{
    position:absolute;
    bottom:1vw;
}