:root{
    --accent-color-1:#8E44AD;
    --accent-color-2:#3498DB;
    --accent-color-3:#E67E22;
    --accent-color-4:#E74C3C;

    --light-red:#F5B7B1;
    --light-green:#A3E4D7;
    --dark-green:#1ABC9C;
    --green-saturated:#48C9B0;
    --dark-red:#E74C3C;
    --light-gray:#D5DBDB;
    --dark-gray:#95A5A6;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin:0;
    width:100vw;
    overflow-x:hidden;
}

#navbar{
    background:black;
    width:95vw;
    height:6vmin;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:0 2.5vw;
    color:white;
    position:relative;
}

#navbar > img{
    height:3.5vmin;
    filter:invert(1);
    margin-right:0.5vw;
    cursor:pointer;
}

#navbar > h1{
    font-size:2.25vmin;
    font-weight:900;
    cursor:pointer;
}

#navbar-right{
    position:absolute;
    right:2.5vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    height:5vmin;
}

#navbar-input{
    display:flex;
    flex-direction:row;
    align-items:center;
    background:#444;
    padding:0.5vmin 0.5vw;
    height:2vmin;
    border-radius:1.5vmin;
    margin-right:1vw;
}

#navbar-input > img{
    filter:invert(0.5);
    width:2vmin;
}

#navbar-input > input{
    outline:none;
    border:none;
    background:transparent;
    color:gray;
    width:10vw;
    font-size:1.75vmin;
}

#profile{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-right:1vw;
}

#profile > p{
    margin:0;
    font-size:1.5vmin;
}

#profile-pic{
    margin-right:0.5vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-size:1.5vmin;
    width:3.75vmin;
    height:3.75vmin;
    background:var(--accent-color-1);
    border-radius:1.875vmin;
    cursor:pointer;
}

#more-div{
    position:relative;
}

#more-div > div{
    width:0.5vw;
    height:0.5vw;
    background:var(--accent-color-1);
    position:absolute;
    border-radius:0.75vmin;
    right:0;
}

#more-div > img{
    filter:invert(0.5);
    cursor:pointer;
    width:1.5vw;
}

#banner-div{
    width:100vw;
    height:42vmin;
    background:linear-gradient(to right, var(--accent-color-1) 0%, var(--accent-color-2) 100%);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

#banner-div > *{
    margin:0 7.5vw;
}

#banner-text{
    width:30vw;
}

#banner-text > h1{
    margin:0;
    font-weight:900;
    font-size:1.75vw;
}

#banner-text > p{
    margin:2vmin 0;
    font-weight:300;
    font-size:1vw;
}

#banner-text > button{
    background:var(--accent-color-2);
    outline:none;
    border:none;
    color:white;
    width:7.5vw;
    height:2.5vmin;
    font-size:1.5vmin;
    border-radius:1.5vmin;
    cursor:pointer;
}

#banner-image{
    height:42vmin;
}

#sort-div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    width:60vw;
    margin:0 auto;
    font-size:0.75vw;
    color:gray;
}

#sort-div > p{
    cursor:pointer;
    padding:0.5vmin 0.75vw;
    border-radius:3vmax;
    transition-duration:250ms;
}

.filter-para:hover{
    text-decoration:underline;
}

#sort-div > input{
    outline:none;
    border:1px solid gray;
    width:15vw;
    font-size:0.75vw;
    height:1.25vw;
    padding:0 0.5vw;
    border-radius:0.675vw;
}

.active-filter{
    color:black;
    background:lightgray;
    font-weight:700;
}

.active-filter:hover{
    text-decoration:none;
}

#results{
    margin:0 auto;
    width:90vw;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.result-item{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:20vw;
    margin:2vmin;
    transition-duration:250ms;
}

.result-item > img{
    width:20vw;
    height:25vmin;
    border-radius:3vmin;
    cursor:pointer;
}

.result-text{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    width:20vw;
    margin-top:1vmin;
    position:relative;
}

.result-text > img{
    width:3vw;
    margin-right:0.5vw;
}

.result-pars > h1{
    margin:0;
    font-size:0.75vw;
}

.result-pars > p{
    margin:0;
    font-size:0.75vw;
}

.result-stats-div{
    position:absolute;
    right:0;
    display:flex;
    flex-direction:row;
}

.result-stat{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    margin-left:0.5vw;
}

.result-stat > p{
    font-size:0.75vw;
    margin:0;
    font-weight:300;
    margin-left:0.25vw;
}

.result-stat > img{
    width:1.25vw;
}


::-webkit-scrollbar {
    width:0.75vmax;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent-color-1); 
    border-radius:0.375vmax;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dark-green); 
  }


#profile-modal{
    height:0;
    opacity:0;
    width:9vw;
    position:absolute;
    top:6vmin;
    right:3.75vw;
    border-radius:0 0 1vw 1vw;
    justify-content:center;
    transition-duration:250ms;
}

.modal-option{
    font-size:0.75vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    color:white;
    background:black;
    border-radius:0 0 1vw 1vw;
    padding:0 1vw;
}

.modal-option > img{
    height:1vw;
    margin-right:0.25vw;
    filter:invert(1);
}

#league-row{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#league-row > div{
    margin:0 1vw;
}

#comments{
    height:40vmin;
    overflow-y:scroll;
    padding-right:1vw;
}

#comments::-webkit-scrollbar-track {
    background: var(--light-gray);
}

#comments::-webkit-scrollbar-thumb {
    background: var(--light-green); 
    border-radius:0.375vmax;
}

.comment{
    width:35vmin;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    padding:1vw 2vmin;
    border-radius:2vmin;
    background:var(--light-gray);
    margin:2vmin 0;
}

.wicket{
    background:var(--light-red);
}

.sixer{
    background:var(--light-green);
}

.comment > h1{
    margin:0;
    font-size:5vmin;
    width:7vmin;
    height:7vmin;
    border-radius:2vmin;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background:var(--dark-gray);
    color:var(--light-gray);
}

.sixer > h1{
    background:var(--dark-green);
    color:var(--light-green);
}

.wicket > h1{
    background:var(--dark-red);
    color:var(--light-red);
}

.comment > div{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    width:25vmin;
}

.comment > div > h2{
    margin:0;
    font-size:2vmin;
}

.comment > div > p{
    margin:0;
    font-size:1.5vmin;
}

#cricket-field{
    width:40vmin;
    height:40vmin;
    border-radius:21vmin;
    border:1vmin solid var(--light-gray);
    box-shadow:0 0 3vmin 0 var(--dark-gray);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    overflow:hidden;
}

#cricket-field::before{
    content:'';
    position:absolute;
    width:45vmin;
    height:45vmin;
    top:-2.5vmin;
    left:-2.5vmin;
    background-image:url('../images/patterns/darkpattern.png');
    background-repeat:repeat;
    background-size:30px 30px;
    image-rendering: pixelated;
    transform:rotate(0deg);
}

#cricket-inner-green{
    width:15vmin;
    height:20vmin;
    background:rgba(255,255,255,0.25);
    border:0.75vmin solid var(--light-gray);
    border-radius:8.25vmin;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

#cricket-pitch{
    background:#F5B041;
    width:3vmin;
    height:9vmin;
}

.cricket-circle{
    width:6vmin;
    height:6vmin;
    border:0.75vmin dashed var(--light-gray);
    position:absolute;
    border-radius:3.75vmin;
}

.cricket-circle:nth-child(1){
    top:1vmin;
}

.cricket-circle:nth-child(3){
    bottom:1vmin;
}

.player-1{
    width:2vmin;
    height:2vmin;
    background:var(--light-gray);
    position:absolute;
    border-radius:1vmin;
    cursor:pointer;
}

.player-2{
    width:2vmin;
    height:2vmin;
    background:var(--accent-color-4);
    position:absolute;
    border-radius:1vmin;
    cursor:pointer;
}