:root{
    --lighter-green:#EAFAF1;
    --light-green:#D5F5E3;
    --green:#ABEBC6;
    --dark-green:#2ECC71;
    --light-gray:#BFC9CA;
    --light-purple:#C39BD3;
    --light-color:#000000;
    --dark-color:#0f1318;
    --text-color:#000000;
    --background-1:#ffffff;
    --background-2:#f1f1f1;
    --border-color:#cccccc;
    --accent-color:#2ECC71;
    --friend-background:#109028;
    --icon-brightness:0;
}

body{
    font-family:"Be Vietnam Pro", sans-serif;
    margin:0;
}

#wrapper{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:row;
}

#sidebar{
    width:5vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
}

.sidebar-img{
    margin:4vh 0;
    cursor:pointer;
    width:2vw;
    filter:invert(1) brightness(0.5);
}

.notification-div{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#main-div{
    width:95vw;
    height:100vh;
    background:var(--background-2);
}

.notif-p{
    background:var(--accent-color);
    font-size:0.75vmax;
    width:1vmax;
    height:1vmax;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    text-align:center;
    border-radius:0.5vmax;
    margin:0;
    position:absolute;
    top:3vh;
    right:-0.25vw;
}

#cricket-img{
    position:absolute;
    top:1vw;
}

#logout-img{
    position:absolute;
    bottom:1vw;
}

.sidebar-line{
    width:1.5vw;
    height:0.5vw;
    background:var(--accent-color);
    position:absolute;
    bottom:1vw;
    border-radius:0.5vw;
    transition-duration:250ms;
}

.inactive-line{
    opacity:0;
}

#navbar{
    width:90vw;
    height:4.5vmax;
    padding:0 2.5vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative;
}

.navbar-input{
    width:12.5vmax;
    height:2vmax;
    background:var(--background-1);
    border-radius:0.5vmax;
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative;
}

.navbar-input > input{
    outline:none;
    border:none;
    margin-left:0.5vmax;
    font-size:0.8vmax;
    width:10vw;
    color:gray;
}

.navbar-input > img{
    width:1vmax;
    position:absolute;
    right:0.5vw;
    filter:invert(1) brightness(0.5);
    cursor:pointer;
}

#navbar-team{
    position:absolute;
    right:6.5vmax;
    top:1.25vmax;
    display:flex;
    flex-direction:row;
}

.navbar-friend-div{
    width:2vmax;
    height:2vmax;
    border-radius:2vmax;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background:var(--friend-background);
    margin:0 -0.35vw;
}

#friend-dropdown{
    position:absolute;
    right:4.5vmax;
    top:1.25vmax;
    width:2vmax;
    cursor:pointer;
    transition-duration:250ms;
}

.active-dropdown{
    transform:rotateZ(-90deg);
}

.inactive-dropdown{
    transform:rotateZ(0deg);
}

.navbar-friend{
    width:1.25vmax;
    border-radius:1.25vmax;
}

#add-friend-btn{
    width:2vmax;
    height:2vmax;
    position:absolute;
    top:1.25vmax;
    right:1.5vmax;
    background:var(--dark-color);
    color:white;
    font-size:2vmax;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    border-radius:1vmax;
    cursor:pointer;
}

#add-friend-btn > img{
    filter:invert(1) brightness(calc(1 - var(--icon-brightness)));
    width:1.25vw;
}

#main-content{
    padding:0 2.5vw;
}

.main-content > h1{
    margin:0;
    font-size:1.5vmax;
    font-weight:500;
}

.main-content > h6 {
    margin:0.25vmax 0;
    color:gray;
    font-size:0.75vmax;
    font-weight:400;
}

.bold{
    color:black;
    font-weight:700;
}

.main-row{
    width:90vw;
    height:auto;
    margin-top:1.5vmax;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
}

.main-row > *{
    margin-left:0.5vmax;
}

.advertisement{
    background:var(--background-1);
    width:20vmax;
    padding:1vmax;
    border-radius:2vmax;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.advertisement-img{
    width:20vmax;
    height:10vmax;
    border-radius:1vmax;
    margin-bottom:0.5vw;
}

.advertisement-para{
    font-size:0.75vw;
    margin:0;
}

.content-btns{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    width:14vmax;
}

.content-btn{
    width:5vmax;
    height:5vmax;
    margin:0.5vmax;
    border-radius:2vmax;
    background:var(--background-1);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition-duration:250ms;
}

.content-btn:hover{
    transform:scale(1.1);
}

.content-btn-img{
    filter:invert(1) brightness(calc(0.5));
    width:2.5vmax;
}

#your-roster{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

#your-roster > h1 {
    margin:0;
    font-size:1.25vmax;
    font-weight:500;   
}

#roster-players{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:flex-start;
}

#roster-players > div{
    margin-right:2vmax;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    position:relative;
}

.small-roster{
    width:5.5vmax;
    height:5.5vmax;
}

.medium-roster{
    width:5.5vmax;
    height:11vmax;
}

.large-roster{
    width:11vmax;
    height:11vmax;
}

.roster-img{
    width:4vmax;
    height:4vmax;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:2vmax;
    z-index:1;
}

.roster-item{
    position:relative;
    width:5vmax;
    height:5vmax;
    margin:0.25vmax;
    border-radius:2vmax;
    background:var(--background-1);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    z-index:0;
}

.roster-para{
    position:absolute;
    bottom:-2vmax;
    color:gray;
    font-size:0.75vmax;
    font-weight:400;
}

.roster-desc{
    position:relative;
    background:white;
    border-radius:1vmax;
    transition-duration:500ms;
    width:8vmax;
    padding:0.5vmax;
    z-index:100;
    opacity:0;
    display:flex;
    flex-direction:column;
}

.roster-h5{
    font-size:1vmax;
    font-weight:700;
    margin:0;
}

.roster-p{
    font-size:0.75vmax;
    font-weight:400;
    margin:0;
}

#bench{
    margin-left:2vmax;
}

.roster-item:hover > .roster-img > .roster-desc{
    transform:translateX(5vmax);
    z-index:1;
    opacity:1;
}