:root{
    --accent-color-1:#8E44AD;
    --accent-color-2:#3498DB;
    --accent-color-3:#E67E22;
    --accent-color-4:#E74C3C;
    --background-1:#fff;
    --background-2:#dcdfe9;
}

body{
    margin:0;
    font-family:"Be Vietnam Pro", sans-serif;
    background:var(--background-2);
}

#navbar{
    background:black;
    width:95vw;
    height:6vmin;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:0 2.5vw;
    color:white;
    position:relative;
}

#navbar > img{
    height:3.5vmin;
    filter:invert(1);
    margin-right:0.5vw;
}

#navbar > h1{
    font-size:2.25vmin;
    font-weight:900;
}

#navbar-right{
    position:absolute;
    right:2.5vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    height:5vmin;
}

#profile{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-right:1vw;
}

#profile > p{
    margin:0;
    font-size:1.5vmin;
}

#profile-pic{
    margin-right:0.5vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-size:1.5vmin;
    width:3.75vmin;
    height:3.75vmin;
    background:var(--accent-color-1);
    border-radius:1.875vmin;
    cursor:pointer;
}

#more-div{
    position:relative;
}

#more-div > div{
    width:0.5vw;
    height:0.5vw;
    background:var(--accent-color-4);
    position:absolute;
    border-radius:0.75vmin;
    right:0;
}

#more-div > img{
    filter:invert(0.5);
    cursor:pointer;
    width:1.5vw;
}

#navbar-right > button{
    outline:none;
    border:none;
    width:20vmin;
    height:2.5vmin;
    border-radius:1.25vmin;
    font-size:1.75vmin;
    margin:0 0.75vw;
    background:var(--accent-color-4);
    cursor:pointer;
    color:white;
}

#banner-image{
    width:100vw;
    height:42vmin;
    background:var(--accent-color-4);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

#banner-image > div{
    width:30vw;
    margin:0 5vw;
    padding:2.5vmin 2.5vw;
    border-radius:3vmax;
}

#banner-text > h1{
    margin:0;
    font-size:5vmin;
    font-weight:700;
}

#banner-text > p{
    margin:0;
    font-size:2.25vmin;
    font-weight:300;
    color:#333;
}

#banner-statistics{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

#banner-statistics > div{
    width:25vmin;
    height:25vmin;
    background:black;
    border-radius:3vmin;
}