:root{
    --lighter-green:#EAFAF1;
    --light-green:#D5F5E3;
    --green:#ABEBC6;
    --dark-green:#2ECC71;
    --light-gray:#BFC9CA;
    --light-purple:#C39BD3;
    --light-color:#000000;
    --dark-color:#0f1318;
    --text-color:#000000;
    --background-1:#ffffff;
    --background-2:#EAFAF1;
    --accent-color:#2ECC71;
}

body{
    font-family:"Be Vietnam Pro", sans-serif;
    background:var(--background-2);
    overflow-x:hidden;
    margin:0;
    color:var(--text-color);
}

#wrapper{
    display:flex;
    flex-direction:column;
    width:100vw;
}

#top-div{
    position:absolute;
    top:0;
    right:0;
}

#navbar{
    width:100vw;
    height:4vmax;
    display:flex;
    flex-direction:row;
    align-items:center;
    background:var(--background-2);
}

#navbar-header-div{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-left:2vmax;
}

#navbar-header-div > h1{
    font-size:1.125vmax;
    font-weight:900;
    margin-left:0.5vmax;
    color:var(--text-color);
}

#navbar-header-div > img{
    width:2vmax;
    cursor:pointer;
}

#navbar > img{
    width:2vmax;
    border-radius:3vw;
    position:absolute;
    cursor:pointer;
}

#pfp{
    right:5vmax;
}

#cart{
    right:3vmax;
}

#settings{
    right:1vmax;
}

#dashboard-btn{
    position:absolute;
    right:8vmax;
    width:12.5vmax;
    height:1.5vmax;
    font-size:1vmax;
    background:var(--light-green);
    border:none;
    /*border:1px solid var(--green);*/
    border-radius:1vmax;
    font-weight:300;
    letter-spacing: 0.075vmax;
    cursor:pointer;
    transition-duration:250ms;
}

#dashboard-btn:hover{
    background:var(--green);
}

.active{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.inactive{
    display:none;
}

#header-news-div{
    width:100vw;
    background:var(--dark-color);
    color:white;
    font-size:1vmax;
    font-weight:300;
    letter-spacing: 0.05em;
}

#header-news-div > p{
    margin:0;
}

.accent{
    color:var(--accent-color)
}

#main-div{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
}

#main-header-div{
    width:40vmax;
    height:35vmax;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    margin:0 1vmin;
}

#main-header-div > h1{
    font-weight:900;
    font-size:4.5vmax;
    margin:0;
}

#main-header-div > p{
    font-weight:400;
    font-size:1vmax;
    margin:0;
    color:gray;
}

#main-comments-div{
    width:30vmax;
    height:30vmax;
    background:var(--background-2);
    margin:0 1vmin;
    border-radius:2vmax;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:relative;
    animation-name:colorFlash;
    animation-duration:2s;
    animation-iteration-count: infinite;
}

@keyframes colorFlash {
    from{
        background:var(--light-green);
    }
    50%{
        background:var(--green);
    }
    to{
        background:var(--light-green);
    }
}

.comment{
    position:absolute;
    width:22vmax;
    height:7vmax;
    background:white;
    border:1px solid #eeeeee;
    border-radius:1vmax;
    padding:1vmax;
    display:flex;
    flex-direction:row;
}

#comment-img-div{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:5vmax;
    margin-right:0.5vmax;
}

#comment-img-div > img{
    width:4vmax;
    border-radius:2vmax;
}

#comment-img-div > h1{
    margin:0;
    font-size:1vmax;
}

.star{
    width:1.125vmax;
}

.comment-div > h1{
    font-weight:700;
    font-size:1.25vmax;
    margin:0;
}

.comment-div > p{
    font-weight:400;
    margin:0.5vmax 0;
    font-size:0.75vmax;
}

#app-div{
    width:100vw;
    height:50vmax;
    background:var(background-2);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

::-webkit-scrollbar {
    width:0.75vmax;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: lightgray;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--green); 
    border-radius:0.375vmax;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dark-green); 
  }

#phone-parent-div{
    width:30vmax;
    height:30vmax;
    background:white;
    margin:0 2vmax;
    border-radius:2vmax;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    position:relative;
}

#feature-list-parent{
    width:40vmax;
    margin:0 1vmin;
    border-radius:2vmax;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:relative;
    margin-left:1vmax;
}

#feature-list-parent > h1{
    font-weight:900;
    font-size:3vmax;
    margin:0;
}

#feature-list-parent > p{
    font-weight:400;
    font-size:1vmax;
    margin:0;
    color:gray;
}

#feature-button-div{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    margin-top:3vmax;
}


.feature-button{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background:var(--dark-color);
    color:white;
    cursor:pointer;
    border-radius:1vmax;
    padding:1vmax
}


.feature-button > img{
    width:2vmax;
    margin-right:1vmax;
}

.download-div{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

.download-div > h1{
    margin:0;
    font-size:1.25vmax;
    font-weight:500;
}

.download-div > p{
    margin:0;
    font-size:0.75vmax;
    font-weight:300;
}

#phone{
    border:0.75vmax solid black;
    border-bottom:none;
    width:20vmax;
    height: 25vmax;
    border-radius:1vmax 1vmax 0 0;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#camera-parent{
    position:absolute;
    top:-1px;
    width:10vmax;
    height:2vmax;
    background:black;
    border-radius:0 0 1vmax 1vmax;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position:relative;
}

.camera{
    background:#282828;
    width:1.5vmax;
    height:1.5vmax;
    position:absolute;
    top:-0.125vmax;
    border-radius:1vmax;
}

#phone-time{
    font-size:0.75vmax;
    font-weight:400;
    margin:0;
    position:absolute;
    top:0.5vmax;
    left:0.8vmax;
}

#phone-notifs{
    width:1.25vmax;
    position:absolute;
    top:0.25vmax;
    right:3.5vmax;
}

#phone-battery{
    width:1.5vmax;
    transform:rotateZ(90deg);
    position:absolute;
    top:0.125vmax;
    right:0.75vmax;
}

#phone-data{
    width:1.25vmax;
    position:absolute;
    top:0.25vmax;
    right:2.3vmax;
}

#phone-application{
    width:16vmax;
    height:22vmax;
    padding:1vmax 2vmax;
}

#phone-header{
    width:10vmax;
    height:1vmax;
    border-radius:1vmax;
    background:var(--green);
}

#phone-list-parent{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin:0.5vmax 0;
}

.phone-list{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin:0.5vmax 0;
}

.phone-face{
    width:3vmax;
    height:3vmax;
    background:var(--light-purple);
    border-radius:2vmax;
}

.phone-headers{
    display:flex;
    flex-direction:column;
    margin-left:0.5vmax;
}

.phone-subheader{
    width:5vmax;
    height:1vmax;
    background:var(--light-gray);
    border-radius:0.5vmax;
}

.phone-header{
    margin-top:0.5vmax;
    width:10vmax;
    height:1vmax;
    background:var(--light-gray);
    border-radius:0.5vmax;
}

#phone-sentences{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
}

.phone-title{
    width:10vmax;
    height:1vmax;
    border-radius:1vmax;
    background:var(--green);
    margin:0.5vmax 0;
}

.phone-subtitle{
    margin-top:0.5vmax;
    width:15vmax;
    height:1vmax;
    background:var(--light-gray);
    border-radius:0.5vmax;
}

#footer{
    color:white;
    background:black;
    padding:1vmax 5vmax;
    width:90vw;
    font-size:0.75vmax;
}

#fantasy-features{
    width:100vw;
    height:40vmax;
    background:var(--light-green);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

#fantasy-instructions{
    width:100vw;
    height:37.5vmax;
    background:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#fantasy-graphic{
    width:30vmax;
    height:30vmax;
    background:white;
    margin:0 2vmax;
    border-radius:2vmax;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    position:relative;
}

#fantasy-features-parent{
    width:40vmax;
    margin:0 1vmin;
    border-radius:2vmax;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:relative;
    margin-left:1vmax;
}

#fantasy-features-parent > h1, #fantasy-instructions-header > h1{
    font-weight:900;
    font-size:3vmax;
    color:var(--text-color);
    margin:0;
}

#fantasy-features-parent > p, #fantasy-instructions-header > h2{
    font-weight:400;
    font-size:1vmax;
    margin:0;
    color:gray;
}

#fantasy-feature-list{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin-top:2vmax;
}

.fantasy-feature{
    width:7vmax;
    height:10vmax;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.fantasy-feature-icon{
    width:6vmax;
    height:6vmax;
    border-radius:1vmax;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background:var(--light-color);
    transition-duration:250ms;
    cursor:pointer;
}

.fantasy-feature-icon > img{
    width:5vmax;
}

.fantasy-feature-para{
    font-size:0.75vmax;
    text-align:center;
}

.fantasy-feature-icon:hover{
    transform:scale(1.1);
}

#fantasy-instructions-header{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}

#fantasy-instructions-tab-div{
    box-shadow:0 0 0 1vmax var(--dark-color);
    width:40vmax;
    height:20vmax;
    margin-top:3vmax;
    border-radius:2vmax;
    overflow-x:hidden;
    display:flex;
    flex-direction:column;
    position:relative;
}

#fantasy-instructions-tabs{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.tab{
    border:none;
    outline:none;
    cursor:pointer;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:7vmax;
    height:4.5vmax;
    background:transparent;
}

.tab > img{
    width:1.5vmax;
    margin-top:0.5vmax;
}

.tab > p{
    color:black;
    font-size:0.75vmax;
    font-weight:400;
    margin:0.25vmax 0;
}

.active-tab-text{
    color:var(--dark-green);
    font-size:700;
}

.tab-line{
    width:6vmax;
    height:0.5vmax;
    background:var(--dark-green);
    margin:0.25vmax 0;
    border-radius:0.25vmax;
    opacity:0;
    transition-duration:250ms;
}

.active-tab-line {
    opacity:1;
}

#fantasy-instructions-content{
    padding:1vmax 2vmax;
    overflow:hidden;
    width:36vmax;
    height:13.5vmax;
}

.fantasy-content{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.fantasy-content-picture{
    background:url("https://moneyball.insidesport.co/img/singleplayer/JasonHolder1.jpg");
    width:12.5vmax;
    height:12.5vmax;
    border-radius:2vmax;
    background-position:center;
    background-repeat:none;
    background-size:cover;
}

.fantasy-content-text{
    width:21vmax;
    height:12.5vmax;
}

.fantasy-content-text > h1{
    font-size:2vmax;
    font-weight:900;
    margin:0;
}

.fantasy-content-text > p{
    font-size:0.75vmax;
    font-weight:300;
    margin:0.5vmax 0;
}

.instructions-camera-parent{
    background:black;
    position:absolute;
    width:2.5vmax;
    height:10vmax;
    right:0;
    top:5vmax;
    border-radius:1vmax 0 0 1vmax;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.camera-1{
    background:#282828;
    width:1.5vmax;
    height:1.5vmax;
    border-radius:2vmax;
    position:absolute;
    right:0.125vmax;
}

.inactive-content{
    display:none;
}