:root{
    --ipl:#23418a;
    --kkr:#3a225d;
    --rcb:#d60d28;
    --rr:#ff4081;
    --pbks:#e31c1e;
    --icc:#22d5f5;
    --srh:#f5680e;
    --dc:#173b8a;
    --mi:#06649e;
    --csk:#ecd909;

    --red:#ff0055;
    --green:#00cc55;

    --pitch:#e7bc70;
    --stumps:#bb2f13;
    --lawn-1:#009a4e;
    --lawn-2:#00854a;

    --main-color:#046efa;
    --accent-color:#1c529e;
    --darker-color:#000e1f;

    --border-color:#0f1318;

    --main-background:#0f1318;
    --sub-background:#1b2028;

    --player-image:"";
    --player-background:#000000;
    --icon-brightness:1;

    --contrast-color:white;
    --matching-color:black;
}

body{
    font-family:"Be Vietnam Pro", sans-serif;
    background:var(--sub-background);
    margin:0;
}

#wrapper{
    display:flex;
    flex-direction:column;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

#main-div{
    width:100vw;
    height:90vh;
    display:flex;
    flex-direction:row;
}

#sidebar{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:auto;
    width:20vw;
    background:var(--sub-background);
    overflow-y:scroll;
    padding-bottom:2vw;
    border:1px solid var(--border-color);
}

#main-content{
    width:40vw;
    height:90vh;
    background:orange;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

#game-information{
    width:40vw;
    height:86vh;
    overflow-y:scroll;
    overflow-x:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:3vh 0 1vh 0;
    border-left:1px solid var(--border-color);
}

.game-div{
    width:35vw;
    height:auto;
    display:flex;
    flex-direction:column;
    border:1px solid var(--border-color);
    border-radius:2vw;
    position:relative;
    margin-bottom:3vh;
    background:var(--main-background);
}

.game-header-image{
    width:3vw;
    position:absolute;
    top:1vw;
    right:1vw;
}

.game-header-text-div{
    width:31vw;
    background:var(--main-background);
    padding:2vh 2vw;
    border-radius:2vw 2vw 0 0;
    border-bottom:1px solid var(--border-color);
}

.game-header{
    margin:0;
    font-size:2vw;
}

.game-subheader{
    margin:0;
    font-size:1vw;
    font-weight:300;
    color:lightgray;
}

.game-scorecard{
    width:31vw;
    padding:1.5vh 2vw;
    display:flex;
    flex-direction:column;
    background:var(--main-background);
    border-bottom:1px solid var(--border-color);
}

.game-date-subheader{
    color:gray;
    margin:0;
    font-size:0.75vw;
    font-weight:200;
}

.game-date-header{
    margin:0;
    font-weight:900;
    font-size:1vw;
    color:var(--contrast-color);
}

.game-final-score{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:31vw;
    margin:1vh 0;
    color:var(--contrast-color);
}

.game-final-team-div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:5vw;
    height:12.5vw;
    text-align:center;
    color:var(--contrast-color);
    padding:1vh 1vw;
    border-radius:2vw;
}

.kkr{
    background:var(--kkr);
}

.rcb{
    background:var(--rcb);
}

.rr{
    background:var(--rr);
}

.pbks{
    background:var(--pbks)
}

.srh{
    background:var(--srh);
}

.dc{
    background:var(--dc)
}

.csk{
    background:var(--csk)
}

.mi{
    background:var(--mi);
}

.game-team{
    width:4vw;
}

.game-team-para{
    font-size:0.75vw;
    margin:1vh 0;
}

.game-final-para{
    font-weight:300;
    font-size:2vw;
}

.game-team-outcome-div{
    width:2.25vw;
    height:2.25vw;
    background:var(--sub-background);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    border-radius:2vw;
}

.game-team-outcome{
    width:1.75vw;
}

.win{
    filter:invert(50%) sepia(1) saturate(25) hue-rotate(15deg);
}

.lose{
    filter:invert(50%) sepia(1) saturate(100);
}

.iplh1{
    color:var(--ipl)
}

.ipldiv{
    background:var(--ipl)
}

.t20wch1{
    color:#fe2c53;
}

.t20wcdiv{
    background:#fe2c53;
}

.testh1{
    color:#a39c8c;
}

.testdiv{
    background:#a39c8c;
}

.game-buttons{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    background:var(--main-background);
    border-radius:0 0 2vw 2vw;
}

.game-buttons > p {
    font-weight:400;
    font-size:1vw;
    padding:1vh 1.5vw;
    border-radius:1.5vh;
    cursor:pointer;
    color:white;
}

.game-buttons > p:hover {
    background:var(--darker-color);
}

#navbar{
    width:100vw;
    height:10vh;
    background:var(--main-background);
    border-bottom:1px solid var(--border-color);
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative;
    box-shadow:0 0 2vw 0 var(--main-background);
}

#pfp{
    width:2.5vw;
    position:absolute;
    cursor:pointer;
    right:7vw;
    border-radius:3vw;
}

#cart{
    position:absolute;
    cursor:pointer;
    right:4.5vw;
    width:2vw;
    transition-duration:1s;
    filter:invert(1) brightness(var(--icon-brightness));
}

#settings{
    position:absolute;
    cursor:pointer;
    right:2vw;
    width:2vw;
    transition-duration:1s;
    filter:invert(1) brightness(var(--icon-brightness));
}

#settings:active{
    transform:rotate(1440deg)
}

#navbar-header-div{
    display:flex;
    flex-direction:row;
    align-items:center;
    height:10vh;
    position:absolute;
    left:0vw;
}

#header-image{
    width:3vw;
    margin:0 0.5vw 0 0.25vw;
}

#navbar-header-text{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

#navbar-subheader{
    margin:0;
    font-size:0.75vw;
    font-weight:400;
    color:gray;
}

#navbar-header{
    margin:0;
    font-size:1.25vw;
    font-weight:700;
    color:var(--contrast-color);
}

#navbar-join{
    position:absolute;
    right:10vw;
    width:12.5vw;
    height:2vw;
    font-size:1vw;
    font-weight:900;
    border:none;
    border-radius:0.5vw;
    outline:none;
    color:white;
    background:var(--main-color);
    cursor:pointer;
}

#navbar-join:hover{
    background:var(--darker-color)
}

.accent{
    color:var(--accent-color);
}

#input-search-div{
    position:absolute;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    left:20vw;
    border:1px solid var(--main-color);
    background:var(--sub-background);
    border-radius:2vw;
}

#main-input{
    border:none;
    width:52vw;
    height:2vw;
    outline:none;
    border-radius:1vw 0 0 1vw;
    margin-left:0.75vw;
    font-size:1vw;
    font-weight:100;
    background:var(--sub-background);
    color:var(--contrast-color);
}

#search-div{
    height:calc(2vw + 2px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-right:1px solid var(--main-color);
    border-top:1px solid var(--main-color);
    border-bottom:1px solid var(--main-color);
    border-radius:0 1vw 1vw 0;
}

#search{
    width:1vw;
    margin:0 1vw;
    cursor:pointer;
    filter:invert(1) brightness(var(--icon-brightness));
}

.player-card{
    width:12.5vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:2vw;
    background:var(--sub-background);
    border-radius:1vw;
}

.player-image{
    width:12.5vw;
    height:12.5vw;
    border-radius:1vw;
    background-image:var(--player-image);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    margin-bottom:0.25vw;
}

.player-nameplate{
    background:var(--player-background);
    padding:0 1vw;
    width:10.5vw;
    height:4vw;
    border-radius:1vw 1vw 0.5vw 0.5vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    position:relative;
    margin-bottom:0.5vw;
}

.player-nameplate > h1{
    font-size:1.25vw;
    margin:0;
}

.player-nameplate > p{
    font-size:0.75vw;
    margin:0;
}

.player-nameplate > img{
    position:absolute;
    right:1vw;
    width:2vw;
}

.player-button{
    width:12.5vw;
    height:2vw;
    font-size:1vw;
    font-weight:900;
    border:none;
    border-radius:0.5vw;
    outline:none;
    color:white;
    background:var(--main-color);
    cursor:pointer;
    margin:0.25vw 0;
}

.player-button:hover{
    background:var(--darker-color);
}

.player-footer{
    background:var(--player-background);
    padding:0 1vw;
    width:10.5vw;
    height:2vw;
    border-radius:0.5vw 0.5vw 1vw 1vw;
    margin-top:0.25vw;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--border-color); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius:1vw;
    width:0.5vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--darker-color); 
}

#game{
    width:40vw;
    height:50vh;
    background:var(--lawn-2);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    /*box-shadow:inset 0 0 1vw 0 var(--main-background);*/
}

#your-team{
    width:40vw;
    height:40vh;
    background:var(--main-background);
    border-top:1px solid var(--sub-background);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#your-team-players{
    width:25vw;
    height:40vh;
}

#your-team-statistics{
    width:15vw;
    height:40vh;
    border-left:1px solid var(--sub-background);
    position:relative;
}

.your-team-header-div{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    margin:1vh 1vw;
}

.your-team-main-image{
    width:3vw;
}

.your-team-headers{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    margin-left:0.5vw;
}

.your-team-header{
    margin:0;
    font-size:1.5vw;
    color:var(--contrast-color);
}

.your-team-subheader{
    margin:0;
    font-size:0.75vw;
    color:var(--contrast-color);
}

#your-team-trade-btn{
    position:absolute;
    bottom:1vw;
    left:1.25vw;
}

.your-team-statistics-para{
    font-size:0.75vw;
    margin:0 1vw;
    color:var(--contrast-color);
}

.red{
    color:var(--red);
}

.green{
    color:var(--green);
}

.your-team-players-showcase{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    margin:0.6vh 0.6vw;
}

.your-team-players-showcase > img{
    width:6vw;
    height:6vw;
    border-radius:1vw;
    object-fit:cover;
    margin:0.25vw 0.25vw;
    cursor:pointer;
    transition-duration:250ms;
}

.your-team-players-showcase > img:hover{
    transform:scale(1.05);
    box-shadow:0 0 0.5vw 0 black;
}

#lawn-1{
    background:var(--lawn-1);
    width:16vw;
    height:20vw;
    border-radius:8vw;
    border:0.75vw solid white;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    position:relative;
}

#pitch{
    background:var(--pitch);
    width:2vw;
    height:5vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position:relative;
}

#stump-1{
    top:0.25vw;
}

#stump-2{
    bottom:0.25vw;
}

.stumps{
    background:var(--stumps);
    width:0.75vw;
    height:0.25vw;
    position:absolute;
}

.circle{
    position:absolute;
    width:3.5vw;
    height:3.5vw;
    border:0.25vw dashed white;
    border-radius:3vw;
}

#dashed-1{
    top:6.25vw;
}

#dashed-2{
    bottom:6.25vw;
}

.active-modal{
    visibility: visible;
    backdrop-filter:blur(5px);
}

.inactive-modal{
    opacity:0;
    visibility:hidden;
    backdrop-filter:blur(0px);
}

.modal-bg{
    position:absolute;
    display:flex;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:1;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    transition-duration:500ms;
}

.modal{
    background:white;
    width:55vmin;
    height:65vmin;
    padding:5vmin 6vmin 5vmin 9vmin;
    border-radius:1vmin;
    box-shadow:0 0 3vmin 0 black;
    color:black;
}

.modal-options{
    position:absolute;
    left:calc(50vw - 40vmin);
    top:calc(50vh - 30vmin);
    width:10vmin;
    height:35vmin;
    background:var(--main-color);
    border-radius:5vmin;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.modal-option{
    width:4vmin;
    cursor:pointer;
}

.modal-header{
    text-transform: uppercase;
    font-size:4vmin;
}

.connect-account-div{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
}

.connect-account-img{
    width:10vmin;
    border-radius:5vmin;
}

.connect-account-para{
    color:gray;
    font-size:1.75vmin;
    width:25vmin;
}

.connect-account-btn{
    width:17vmin;
    height:5vmin;
    font-size:2.5vmin;
    outline:none;
    border:none;
    border-radius:5vmin;
    cursor:pointer;
    transition-duration:250ms;
    color:var(--contrast-color)
}

.connect-account-btn:active{
    box-shadow:inset 0 0 1.5vmin 0 black;
}

.connect{
    background:var(--main-color);
}

.disconnect{
    background:var(--border-color);
}