:root{
    --accent-color-1:#8E44AD;
    --accent-color-2:#3498DB;
    --accent-color-3:#E67E22;
    --accent-color-4:#E74C3C;

    --profile-width:25vmin;
}

#profile-modal{
    height:0;
    opacity:0;
    width:9vw;
    position:absolute;
    top:6vmin;
    right:3.75vw;
    border-radius:0 0 1vw 1vw;
    justify-content:center;
    transition-duration:250ms;
}

.modal-option{
    font-size:0.75vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    color:white;
    background:black;
    border-radius:0 0 1vw 1vw;
    padding:0 1vw;
    margin-bottom:-1vw;
}

.modal-option > img{
    height:1vw;
    margin-right:0.25vw;
    filter:invert(1);
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin:0;
    width:100vw;
    overflow-x:hidden;
}

#navbar{
    background:black;
    width:95vw;
    height:6vmin;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:0 2.5vw;
    color:white;
    position:relative;
}

#navbar > img{
    height:3.5vmin;
    filter:invert(1);
    margin-right:0.5vw;
}

#navbar > h1{
    font-size:2.25vmin;
    font-weight:900;
}

#navbar-right{
    position:absolute;
    right:2.5vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    height:5vmin;
}

#navbar-input{
    display:flex;
    flex-direction:row;
    align-items:center;
    background:#444;
    padding:0.5vmin 0.5vw;
    height:2vmin;
    border-radius:1.5vmin;
    margin-right:1vw;
}

#navbar-input > img{
    filter:invert(0.5);
    width:2vmin;
}

#navbar-input > input{
    outline:none;
    border:none;
    background:transparent;
    color:gray;
    width:10vw;
    font-size:1.75vmin;
}

#sub-profile{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-right:1vw;
}

#sub-profile > p{
    margin:0;
    font-size:1.5vmin;
}

#sub-profile-pic{
    margin-right:0.5vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-size:1.5vmin;
    width:3.75vmin;
    height:3.75vmin;
    background:var(--accent-color-1);
    border-radius:1.875vmin;
    cursor:pointer;
}

#more-div{
    position:relative;
}

#more-div > div{
    width:0.5vw;
    height:0.5vw;
    background:var(--accent-color-1);
    position:absolute;
    border-radius:0.75vmin;
    right:0;
}

#more-div > img{
    filter:invert(0.5);
    cursor:pointer;
    width:1.5vw;
}

#banner-image-div{
    width:100vw;
    height:25vmin;
    background:var(--color-2);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-end;
}

#banner-pattern{
    width:100vw;
    height:25vmin;
}

#profile-image{
    width:var(--profile-width);
    height:var(--profile-width);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    font-size:calc(var(--profile-width) * 0.4);
    border-radius:calc(var(--profile-width) + 2vmin);
    border:1vmin solid white;
    color:white;
    margin-bottom:calc(-0.5 * var(--profile-width));
}

#profile-header{
    margin:0 auto;
    margin-top:calc(var(--profile-width) / 2 + 1vmin);
    text-align:center;
    width:40vw;
}

#profile-header > h1{
    margin:0;
    font-weight:700;
    font-size:1.5vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#profile-header > h1 > img{
    filter: invert(50%) sepia(89%) saturate(1690%) hue-rotate(176deg) brightness(97%) contrast(95%);
    margin-left:0.25vw;
}

#profile-header > h2{
    margin:0;
    font-weight:300;
    font-size:1vw;
}

#profile-header > p{
    margin:0;
    margin-top:1vmin;
    font-weight:300;
    font-size:0.75vw;
    color:gray;
}

#profile-buttons{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:9vmin;
}

.profile-button{
    outline:none;
    border:none;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    height:5vmin;
    padding:0 1vw;
    margin:0 1vmin;
    border-radius:2vmin;
    cursor:pointer;
    font-size:2vmin;
    color:black;
    font-weight:300;
    transition-duration:250ms;
}

.profile-button:hover{
    transform:scale(1.05);
}

.profile-button > img{
    height:2.5vmin;
    margin-right:0.25vw;
}

#profile-description{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:flex-start;
    margin-top:2vmin;
}

#profile-description > div{
    width:18vw;
    border:1px solid lightgray;
    border-radius:2vmin;
    padding:2vmin 1vw;
    text-align:center;
}

#profile-description > div > h1{
    font-size:1vw;
    margin:0;
    font-weight:700;
    margin-bottom:1vmin;
}

#profile-text{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    width:18vw;
    margin:0 auto;
}

#profile-text > p{
    font-size:0.75vw;
    width:7vw;
    margin:0;
    font-weight:300;
    color:gray;
}

#profile-description > div > h2{
    font-size:0.875vw;
    margin:-1vmin auto 1vmin auto;
    font-weight:300;
    width:fit-content;
}

#profile-description > div > p, #profile-description > div > h5{
    font-size:0.75vw;
    color:gray;
    font-weight:300;
    margin:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#profile-description > div > h5:hover{
    text-decoration:underline;
    cursor:pointer;
}

#profile-description > div > p > img{
    height:0.875vw;
    margin:0;
    margin-right:0.25vw;
    filter:invert(0.5);
}

#profile-description > div > button{
    width:15vw;
    font-weight:300;
    margin:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin:2vmin auto;
}